name: ci

on:
  push:
    branches: 
      - master

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v1
    - name: Use Node.js
      uses: actions/setup-node@v1
      with:
        node-version: '10.x'
        registry-url: 'https://registry.npmjs.org'
    - name: npm install, build, and test
      run: |
        yarn
        npm run build --if-present
        npm test
        npm run coverage
      env:
        CI: true